.activePage{
    margin-top: 25px;
    margin-bottom: 25px;
    /* display: block; */
}

.wraper{
    margin: auto;
    display: grid;
    /* grid-template-columns: repeat(5, 1fr); */
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-auto-rows: 500px;
    grid-gap: 10px;
  }
  .card{
    border-radius: 6px;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.116);
  }

