.App {
  background-color: rgb(255, 255, 255);
  width: 30%;
  margin: auto;
  padding: 20px;
  margin-top: 70px;  
  max-height: 450px;
  overflow: auto;
  /* overflow-x: hidden; */
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




