* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  max-height: 550px;
  overflow: auto;
  padding-bottom: 36px;

}


.footer {
  position: absolute;
  bottom: 0;
  height: 40px;
  width: 100%;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: white;
}


.footer button {
  width: 20%;
  height: 30px;
  background-color: #8C49E6;
  color: white;
  border: none;
}

.mainContainer {
  max-width: 70%;
  background-color: rgb(138, 102, 102);
  margin: auto;
}

.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
  overflow: unset !important;
  padding: 20px;
}


.chippp {
  background-color: red;
  color: red;
  margin-top: 10px;
}

.background {
  background-Color: rgba(0, 0, 0, 0.675);
  background-blend-mode: soft-light;
  align-items: "center";
  justify-content: "center";
  padding: 3;
  color: "white";


}